In [1]:
import pandas as pd
import numpy as np

In [2]:
faltas = pd.read_excel('Faltas.xlsx')
prod = pd.read_excel('Produtividade.xlsx', skiprows=1)
espera = pd.read_excel("Tempo de Espera.xlsx", skiprows=1)

In [3]:
faltas

,UNIDADE,Especialidades,PROFISSIONAL,Total de Consultas,Consultas Efetivadas,% Consultas Efetivadas,Consultas Canceladas,% Consultas Canceladas,Faltas Médicas,% Faltas Médicas,Faltas Paciente,% Faltas Pacientes,Remarcações Médicas,% Remarcações Médcas,Remarcações ADM,% Remarcações ADM,Remarcações Pacientes,% Remarcações Pacientes
0,Total,NaN,NaN,38757,22290,0.575122,16467,0.424878,1086,0.028021,13849,0.357329,1015,0.026189,517,0.013340,14912,0.277800
1,CLINICA JA,Total,NaN,8065,4382,0.543335,3683,0.456665,427,0.052945,2745,0.340360,428,0.053069,83,0.010291,3467,0.300616
2,CLINICA JA,CLINICO GERAL,NaN,2382,1315,0.552057,1067,0.447943,109,0.045760,896,0.376154,34,0.014274,28,0.011755,929,0.280580
3,CLINICA JA,CLINICO GERAL,MEDICO CDS,201,102,0.507463,99,0.492537,0,0.000000,73,0.363184,0,0.000000,26,0.129353,105,0.343137
4,CLINICA JA,CLINICO GERAL,MEDICO HPD,683,404,0.591508,279,0.408492,30,0.043924,249,0.364568,0,0.000000,0,0.000000,234,0.255180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,CLINICA DT,PEDIATRIA,MEDICO RAD,173,86,0.497110,87,0.502890,44,0.254335,42,0.242775,0,0.000000,1,0.005780,106,0.379928
222,CLINICA DT,PEDIATRIA,MEDICO SVR,330,215,0.651515,115,0.348485,17,0.051515,98,0.296970,0,0.000000,0,0.000000,158,0.323770
223,CLINICA DT,PEDIATRIA,MEDICO TDC,323,251,0.777090,72,0.222910,0,0.000000,68,0.210526,0,0.000000,4,0.012384,161,0.332645
224,CLINICA DT,PEDIATRIA,MEDICO VDS,367,266,0.724796,101,0.275204,29,0.079019,71,0.193460,0,0.000000,1,0.002725,201,0.353873
225,NaN,NaN,NaN,54872,33138,0.603915,21734,0.396085,1441,0.026261,17917,0.326524,1410,0.025696,966,0.017605,22565,0.291357

In [4]:
faltas_col = faltas[['UNIDADE', 'Especialidades', 'PROFISSIONAL','Consultas Efetivadas', 'Faltas Médicas', 'Faltas Paciente','Remarcações Médicas', 'Total de Consultas']]
faltas_col

,UNIDADE,Especialidades,PROFISSIONAL,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
0,Total,NaN,NaN,22290,1086,13849,1015,38757
1,CLINICA JA,Total,NaN,4382,427,2745,428,8065
2,CLINICA JA,CLINICO GERAL,NaN,1315,109,896,34,2382
3,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,0,73,0,201
4,CLINICA JA,CLINICO GERAL,MEDICO HPD,404,30,249,0,683
...,...,...,...,...,...,...,...,...
221,CLINICA DT,PEDIATRIA,MEDICO RAD,86,44,42,0,173
222,CLINICA DT,PEDIATRIA,MEDICO SVR,215,17,98,0,330
223,CLINICA DT,PEDIATRIA,MEDICO TDC,251,0,68,0,323
224,CLINICA DT,PEDIATRIA,MEDICO VDS,266,29,71,0,367
225,NaN,NaN,NaN,33138,1441,17917,1410,54872

In [5]:
faltas_col.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   UNIDADE               224 non-null    object
 1   Especialidades        223 non-null    object
 2   PROFISSIONAL          176 non-null    object
 3   Consultas Efetivadas  226 non-null    int64
 4   Faltas Médicas        226 non-null    int64
 5   Faltas Paciente       226 non-null    int64
 6   Remarcações Médicas   226 non-null    int64
 7   Total de Consultas    226 non-null    int64
dtypes: int64(5), object(3)
memory usage: 14.3+ KB

In [6]:
faltas_rename = {
    'UNIDADE': 'Unidade',
    'Especialidades' : 'Especialidade',
    'PROFISSIONAL' : 'Profissional'
}
faltas_clean = faltas_col.rename(columns = faltas_rename)
faltas_clean

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
0,Total,NaN,NaN,22290,1086,13849,1015,38757
1,CLINICA JA,Total,NaN,4382,427,2745,428,8065
2,CLINICA JA,CLINICO GERAL,NaN,1315,109,896,34,2382
3,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,0,73,0,201
4,CLINICA JA,CLINICO GERAL,MEDICO HPD,404,30,249,0,683
...,...,...,...,...,...,...,...,...
221,CLINICA DT,PEDIATRIA,MEDICO RAD,86,44,42,0,173
222,CLINICA DT,PEDIATRIA,MEDICO SVR,215,17,98,0,330
223,CLINICA DT,PEDIATRIA,MEDICO TDC,251,0,68,0,323
224,CLINICA DT,PEDIATRIA,MEDICO VDS,266,29,71,0,367
225,NaN,NaN,NaN,33138,1441,17917,1410,54872

In [7]:
faltas_clean = faltas_clean.dropna()
faltas_clean.isnull().sum()

Unidade                 0
Especialidade           0
Profissional            0
Consultas Efetivadas    0
Faltas Médicas          0
Faltas Paciente         0
Remarcações Médicas     0
Total de Consultas      0
dtype: int64

In [8]:
faltas_clean = faltas_clean.reset_index(drop=True)
faltas_clean

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
0,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,0,73,0,201
1,CLINICA JA,CLINICO GERAL,MEDICO HPD,404,30,249,0,683
2,CLINICA JA,CLINICO GERAL,MEDICO JPS,195,0,170,0,365
3,CLINICA JA,CLINICO GERAL,MEDICO TMP,614,79,404,34,1133
4,CLINICA JA,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO BSG,347,26,296,93,763
...,...,...,...,...,...,...,...,...
171,CLINICA DT,PEDIATRIA,MEDICO LFS,274,51,90,17,444
172,CLINICA DT,PEDIATRIA,MEDICO RAD,86,44,42,0,173
173,CLINICA DT,PEDIATRIA,MEDICO SVR,215,17,98,0,330
174,CLINICA DT,PEDIATRIA,MEDICO TDC,251,0,68,0,323
175,CLINICA DT,PEDIATRIA,MEDICO VDS,266,29,71,0,367

In [9]:
faltas_clean['Especialidade'].unique()

array(['CLINICO GERAL', 'DERMATOLOGIA CLINICA E CIRURGICA', 'PEDIATRIA',
       'ANESTESIOLOGIA', 'ANGIOLOGIA/CIRUR VASCULAR', 'CARDIOLOGIA',
       'CIRURGIA GERAL', 'CIRURGIA ONCOLOGICA', 'CIRURGIA PEDIATRICA',
       'GASTROENTEROLOGIA', 'GINECOLOGIA CLINICA', 'MASTOLOGIA',
       'NEUROLOGIA', 'ONCOLOGIA CLINICA/QUIMIOTERAPIA',
       'OTORRINOLARINGOLOGIA', 'PROCTOLOGIA', 'UROLOGIA',
       'CIRURGIA GINECOLOGICA', 'CIRURGIA TORACICA', 'NEUROCIRURGIA',
       'OBSTETRICIA / PRE NATAL', 'ONCOLOGIA PEDIATRICA',
       'ORTOPEDIA E TRAUMATOLOGIA', 'CIRURGIA BUCO MAXILO FACIAL',
       'CIRURGIA DE CABECA E PESCOCO'], dtype=object)

In [10]:
faltas_clean[faltas_clean.duplicated(subset = ['Unidade', 'Profissional'], keep = False)].sort_values(by = 'Profissional')

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
151,CLINICA DT,ORTOPEDIA E TRAUMATOLOGIA,MEDICO AFL,63,0,21,0,84
123,CLINICA DT,CLINICO GERAL,MEDICO AFL,469,1,212,8,690
83,CLINICA SL,NEUROCIRURGIA,MEDICO DAF,39,8,7,0,54
88,CLINICA SL,NEUROLOGIA,MEDICO DAF,37,21,17,0,75
89,CLINICA SL,NEUROLOGIA,MEDICO JAP,73,31,38,0,143
84,CLINICA SL,NEUROCIRURGIA,MEDICO JAP,31,0,17,0,70
92,CLINICA SL,NEUROLOGIA,MEDICO MRF,69,0,49,0,119
85,CLINICA SL,NEUROCIRURGIA,MEDICO MRF,63,0,15,0,78
98,CLINICA SL,OBSTETRICIA / PRE NATAL,MEDICO MVP,122,0,17,0,141
68,CLINICA SL,CIRURGIA GINECOLOGICA,MEDICO MVP,148,0,46,0,198
100,CLINICA SL,OBSTETRICIA / PRE NATAL,MEDICO RAC,23,0,5,0,28
80,CLINICA SL,GINECOLOGIA CLINICA,MEDICO RAC,27,0,12,0,39
86,CLINICA SL,NEUROCIRURGIA,MEDICO TTS,63,0,30,0,94
94,CLINICA SL,NEUROLOGIA,MEDICO TTS,81,0,41,0,124
133,CLINICA DT,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO WFA,106,1,21,0,131
132,CLINICA DT,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO WFA,1,0,0,0,39
87,CLINICA SL,NEUROCIRURGIA,MEDICO WJS,29,0,11,0,40
95,CLINICA SL,NEUROLOGIA,MEDICO WJS,66,0,35,0,102

In [11]:
faltas_clean.loc[(faltas_clean['Especialidade'] == 'ORTOPEDIA E TRAUMATOLOGIA') & (faltas_clean['Profissional'] == 'MEDICO AFL'), 'Profissional'] = 'MEDICO AFLJ'

In [12]:
faltas_clean[faltas_clean.duplicated(subset = ['Unidade', 'Profissional'], keep = False)].sort_values(by = 'Profissional')

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
83,CLINICA SL,NEUROCIRURGIA,MEDICO DAF,39,8,7,0,54
88,CLINICA SL,NEUROLOGIA,MEDICO DAF,37,21,17,0,75
84,CLINICA SL,NEUROCIRURGIA,MEDICO JAP,31,0,17,0,70
89,CLINICA SL,NEUROLOGIA,MEDICO JAP,73,31,38,0,143
85,CLINICA SL,NEUROCIRURGIA,MEDICO MRF,63,0,15,0,78
92,CLINICA SL,NEUROLOGIA,MEDICO MRF,69,0,49,0,119
68,CLINICA SL,CIRURGIA GINECOLOGICA,MEDICO MVP,148,0,46,0,198
98,CLINICA SL,OBSTETRICIA / PRE NATAL,MEDICO MVP,122,0,17,0,141
80,CLINICA SL,GINECOLOGIA CLINICA,MEDICO RAC,27,0,12,0,39
100,CLINICA SL,OBSTETRICIA / PRE NATAL,MEDICO RAC,23,0,5,0,28
86,CLINICA SL,NEUROCIRURGIA,MEDICO TTS,63,0,30,0,94
94,CLINICA SL,NEUROLOGIA,MEDICO TTS,81,0,41,0,124
132,CLINICA DT,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO WFA,1,0,0,0,39
133,CLINICA DT,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO WFA,106,1,21,0,131
87,CLINICA SL,NEUROCIRURGIA,MEDICO WJS,29,0,11,0,40
95,CLINICA SL,NEUROLOGIA,MEDICO WJS,66,0,35,0,102

In [13]:
faltas_clean[faltas_clean.duplicated(subset = ['Unidade', 'Especialidade','Profissional'], keep = False)].sort_values(by ='Profissional')

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
132,CLINICA DT,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO WFA,1,0,0,0,39
133,CLINICA DT,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO WFA,106,1,21,0,131

In [14]:
faltas_clean = faltas_clean.groupby(['Unidade', 'Especialidade', 'Profissional'], as_index =False).sum()

In [15]:
faltas_clean[faltas_clean.duplicated(subset = ['Unidade', 'Especialidade','Profissional'], keep = False)].sort_values(by ='Profissional')

Empty DataFrame
Columns: [Unidade, Especialidade, Profissional, Consultas Efetivadas, Faltas Médicas, Faltas Paciente, Remarcações Médicas, Total de Consultas]
Index: []

In [16]:
# limpeza faltas_clean concluída
faltas_clean

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas
0,CLINICA DT,ANGIOLOGIA/CIRUR VASCULAR,MEDICO NJV,42,0,19,0,61
1,CLINICA DT,CARDIOLOGIA,MEDICO AGH,57,0,19,0,76
2,CLINICA DT,CARDIOLOGIA,MEDICO BGA,76,11,42,0,129
3,CLINICA DT,CARDIOLOGIA,MEDICO FER,71,0,25,0,97
4,CLINICA DT,CARDIOLOGIA,MEDICO FFD,31,0,17,0,65
...,...,...,...,...,...,...,...,...
170,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO FCC,157,1,101,45,307
171,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO JGS,529,102,331,49,1018
172,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO JHC,529,0,291,27,860
173,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO MMB,325,0,211,0,544
174,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO WAS,41,0,26,0,67

In [17]:
prod

,UNIDADE,ESPECIALIDADES,MEDICO,Qtd. Consultas,Qtd. Retorno,Atendimento Geral,Qtd. Horas,Produtividade,Meta,Qtd. Consultas.1,...,Atendimento Geral.24,Qtd. Horas.24,Produtividade.24,Meta.24,Qtd. Consultas.25,Qtd. Retorno.25,Atendimento Geral.25,Qtd. Horas.25,Produtividade.25,Meta.25
0,NaN,NaN,NaN,179.0,14.0,193.0,29.831667,6.47,5.5,1654.0,...,89.0,18.235,4.88,5.5,29619,3131,32750,5617.094722,5.83,5.5
1,Total,NaN,NaN,179.0,14.0,193.0,29.831667,6.47,5.5,1261.0,...,NaN,NaN,NaN,NaN,20136,1915,22051,3621.978333,6.09,5.5
2,CLINICA JA,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321.0,...,NaN,NaN,NaN,NaN,3973,360,4333,648.283611,6.68,5.5
3,CLINICA JA,CLINICO GERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128.0,...,NaN,NaN,NaN,NaN,1138,177,1315,134.781111,9.76,5.5
4,CLINICA JA,CLINICO GERAL,MEDICO CDS,NaN,NaN,NaN,NaN,NaN,NaN,36.0,...,NaN,NaN,NaN,NaN,98,4,102,10.565278,9.65,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,CLINICA DT,PEDIATRIA,MEDICO RAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,86,0,86,15.692500,5.48,5.5
210,CLINICA DT,PEDIATRIA,MEDICO SVR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,206,9,215,55.434444,3.88,5.5
211,CLINICA DT,PEDIATRIA,MEDICO TDC,NaN,NaN,NaN,NaN,NaN,NaN,27.0,...,NaN,NaN,NaN,NaN,235,16,251,50.071667,5.01,5.5
212,CLINICA DT,PEDIATRIA,MEDICO VDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,241,25,266,57.236111,4.65,5.5
213,NaN,NaN,NaN,179.0,14.0,193.0,29.831667,6.47,5.5,1654.0,...,89.0,18.235,4.88,5.5,29619,3131,32750,5617.094722,5.83,5.5

In [18]:
prod = prod[['UNIDADE', 'ESPECIALIDADES', 'MEDICO','Atendimento Geral.25','Qtd. Horas.25']]
prod

,UNIDADE,ESPECIALIDADES,MEDICO,Atendimento Geral.25,Qtd. Horas.25
0,NaN,NaN,NaN,32750,5617.094722
1,Total,NaN,NaN,22051,3621.978333
2,CLINICA JA,Total,NaN,4333,648.283611
3,CLINICA JA,CLINICO GERAL,NaN,1315,134.781111
4,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,10.565278
...,...,...,...,...,...
209,CLINICA DT,PEDIATRIA,MEDICO RAD,86,15.692500
210,CLINICA DT,PEDIATRIA,MEDICO SVR,215,55.434444
211,CLINICA DT,PEDIATRIA,MEDICO TDC,251,50.071667
212,CLINICA DT,PEDIATRIA,MEDICO VDS,266,57.236111
213,NaN,NaN,NaN,32750,5617.094722

In [19]:
prod = prod.rename(columns = {
    'UNIDADE': 'Unidade',
    'ESPECIALIDADES': 'Especialidade',
    'MEDICO': 'Profissional',
    'Atendimento Geral.25' : 'Atendimento Produtividade',
    'Qtd. Horas.25' : 'Quantidade Horas Produtividade'
})
prod

,Unidade,Especialidade,Profissional,Atendimento Produtividade,Quantidade Horas Produtividade
0,NaN,NaN,NaN,32750,5617.094722
1,Total,NaN,NaN,22051,3621.978333
2,CLINICA JA,Total,NaN,4333,648.283611
3,CLINICA JA,CLINICO GERAL,NaN,1315,134.781111
4,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,10.565278
...,...,...,...,...,...
209,CLINICA DT,PEDIATRIA,MEDICO RAD,86,15.692500
210,CLINICA DT,PEDIATRIA,MEDICO SVR,215,55.434444
211,CLINICA DT,PEDIATRIA,MEDICO TDC,251,50.071667
212,CLINICA DT,PEDIATRIA,MEDICO VDS,266,57.236111
213,NaN,NaN,NaN,32750,5617.094722

In [20]:
prod_clean = prod.dropna()
prod_clean.isnull().sum()

Unidade                           0
Especialidade                     0
Profissional                      0
Atendimento Produtividade         0
Quantidade Horas Produtividade    0
dtype: int64

In [21]:
prod_clean.loc[(prod_clean['Especialidade'] == 'ORTOPEDIA E TRAUMATOLOGIA') & (prod_clean['Profissional'] == 'MEDICO AFL'), 'Profissional'] = 'MEDICO AFLJ'
prod_clean.reset_index(drop=True)

,Unidade,Especialidade,Profissional,Atendimento Produtividade,Quantidade Horas Produtividade
0,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,10.565278
1,CLINICA JA,CLINICO GERAL,MEDICO HPD,404,35.775833
2,CLINICA JA,CLINICO GERAL,MEDICO JPS,195,25.015833
3,CLINICA JA,CLINICO GERAL,MEDICO TMP,614,63.424167
4,CLINICA JA,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO BSG,346,32.639722
...,...,...,...,...,...
162,CLINICA DT,PEDIATRIA,MEDICO LFS,272,81.645278
163,CLINICA DT,PEDIATRIA,MEDICO RAD,86,15.692500
164,CLINICA DT,PEDIATRIA,MEDICO SVR,215,55.434444
165,CLINICA DT,PEDIATRIA,MEDICO TDC,251,50.071667
166,CLINICA DT,PEDIATRIA,MEDICO VDS,266,57.236111

In [22]:
prod_clean['Especialidade'].unique()

array(['CLINICO GERAL', 'DERMATOLOGIA CLINICA E CIRURGICA', 'PEDIATRIA',
       'ANESTESIOLOGIA', 'ANGIOLOGIA/CIRUR VASCULAR', 'CARDIOLOGIA',
       'CIRURGIA GERAL', 'CIRURGIA PEDIATRICA', 'GASTROENTEROLOGIA',
       'GINECOLOGIA CLINICA', 'MASTOLOGIA', 'NEUROLOGIA',
       'OTORRINOLARINGOLOGIA', 'PROCTOLOGIA', 'UROLOGIA',
       'CIRURGIA GINECOLOGICA', 'NEUROCIRURGIA',
       'OBSTETRICIA / PRE NATAL', 'ORTOPEDIA E TRAUMATOLOGIA',
       'CIRURGIA BUCO MAXILO FACIAL', 'CIRURGIA DE CABECA E PESCOCO',
       'CIRURGIA TORACICA'], dtype=object)

In [23]:
prod_clean[prod_clean.duplicated(subset=['Unidade','Profissional'], keep=False)].sort_values(by = 'Profissional')

,Unidade,Especialidade,Profissional,Atendimento Produtividade,Quantidade Horas Produtividade
106,CLINICA SL,NEUROCIRURGIA,MEDICO DAF,39,3.169722
112,CLINICA SL,NEUROLOGIA,MEDICO DAF,37,6.821111
107,CLINICA SL,NEUROCIRURGIA,MEDICO JAP,31,3.958889
113,CLINICA SL,NEUROLOGIA,MEDICO JAP,73,8.685000
108,CLINICA SL,NEUROCIRURGIA,MEDICO MRF,63,5.450278
116,CLINICA SL,NEUROLOGIA,MEDICO MRF,69,6.539722
88,CLINICA SL,CIRURGIA GINECOLOGICA,MEDICO MVP,148,28.678889
123,CLINICA SL,OBSTETRICIA / PRE NATAL,MEDICO MVP,122,20.226389
102,CLINICA SL,GINECOLOGIA CLINICA,MEDICO RAC,27,0.000000
125,CLINICA SL,OBSTETRICIA / PRE NATAL,MEDICO RAC,23,8.311667
109,CLINICA SL,NEUROCIRURGIA,MEDICO TTS,63,7.404722
118,CLINICA SL,NEUROLOGIA,MEDICO TTS,81,11.211667
110,CLINICA SL,NEUROCIRURGIA,MEDICO WJS,29,0.000000
119,CLINICA SL,NEUROLOGIA,MEDICO WJS,66,10.533611

In [24]:
prod_clean[prod_clean.duplicated(subset = ['Unidade', 'Especialidade','Profissional'], keep = False)].sort_values(by ='Profissional')

Empty DataFrame
Columns: [Unidade, Especialidade, Profissional, Atendimento Produtividade, Quantidade Horas Produtividade]
Index: []

,Unidade,Especialidade,Profissional,Atendimento Produtividade,Quantidade Horas Produtividade
4,CLINICA JA,CLINICO GERAL,MEDICO CDS,102,10.565278
5,CLINICA JA,CLINICO GERAL,MEDICO HPD,404,35.775833
6,CLINICA JA,CLINICO GERAL,MEDICO JPS,195,25.015833
7,CLINICA JA,CLINICO GERAL,MEDICO TMP,614,63.424167
9,CLINICA JA,DERMATOLOGIA CLINICA E CIRURGICA,MEDICO BSG,346,32.639722
...,...,...,...,...,...
208,CLINICA DT,PEDIATRIA,MEDICO LFS,272,81.645278
209,CLINICA DT,PEDIATRIA,MEDICO RAD,86,15.692500
210,CLINICA DT,PEDIATRIA,MEDICO SVR,215,55.434444
211,CLINICA DT,PEDIATRIA,MEDICO TDC,251,50.071667
212,CLINICA DT,PEDIATRIA,MEDICO VDS,266,57.236111

In [ ]:
#prod_clean finalizado

In [160]:
espera

,Unidade,Especialidade,Médico,% PCTE > 30 MIN,QTDE PCTE > 30,QTDE USUARIOS,% PCTE > 30 MIN.1,QTDE PCTE > 30.1,QTDE USUARIOS.1,% PCTE > 30 MIN.2,...,QTDE USUARIOS.22,% PCTE > 30 MIN.23,QTDE PCTE > 30.23,QTDE USUARIOS.23,% PCTE > 30 MIN.24,QTDE PCTE > 30.24,QTDE USUARIOS.24,% PCTE > 30 MIN.25,QTDE PCTE > 30.25,QTDE USUARIOS.25
0,Total,NaN,NaN,0.405882,69.0,170.0,0.357973,431.0,1204.0,0.342105,...,898.0,0.287690,208.0,723.0,NaN,NaN,NaN,0.336687,6626,19680
1,CLINICA JA,Total,NaN,NaN,NaN,NaN,0.448680,153.0,341.0,0.456522,...,95.0,0.392857,55.0,140.0,NaN,NaN,NaN,0.366461,1604,4377
2,CLINICA JA,CLINICA MÉDICA,NaN,NaN,NaN,NaN,0.100000,14.0,140.0,0.050000,...,6.0,0.000000,0.0,45.0,NaN,NaN,NaN,0.057735,78,1351
3,CLINICA JA,CLINICA MÉDICA,NaN,NaN,NaN,NaN,0.000000,0.0,1.0,NaN,...,1.0,0.000000,0.0,2.0,NaN,NaN,NaN,0.000000,0,25
4,CLINICA JA,CLINICA MÉDICA,MEDICO AKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,CLINICA DT,PEDIATRIA,MEDICO SMM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0,1
423,CLINICA DT,PEDIATRIA,MEDICO SVR,NaN,NaN,NaN,NaN,NaN,NaN,0.640000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.737089,157,213
424,CLINICA DT,PEDIATRIA,MEDICO TDC,NaN,NaN,NaN,0.531250,17.0,32.0,NaN,...,34.0,NaN,NaN,NaN,NaN,NaN,NaN,0.598394,149,249
425,CLINICA DT,PEDIATRIA,MEDICO VDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,0.428571,15.0,35.0,NaN,NaN,NaN,0.319549,85,266
426,NaN,NaN,NaN,0.405882,69.0,170.0,0.320721,534.0,1665.0,0.336182,...,1549.0,0.328583,415.0,1263.0,0.564103,66.0,117.0,0.347708,10764,30957

In [161]:
espera_clean = espera[['Unidade', 'Especialidade', 'Médico', 'QTDE USUARIOS.25', 'QTDE PCTE > 30.25']]
espera_clean

,Unidade,Especialidade,Médico,QTDE USUARIOS.25,QTDE PCTE > 30.25
0,Total,NaN,NaN,19680,6626
1,CLINICA JA,Total,NaN,4377,1604
2,CLINICA JA,CLINICA MÉDICA,NaN,1351,78
3,CLINICA JA,CLINICA MÉDICA,NaN,25,0
4,CLINICA JA,CLINICA MÉDICA,MEDICO AKM,4,2
...,...,...,...,...,...
422,CLINICA DT,PEDIATRIA,MEDICO SMM,1,0
423,CLINICA DT,PEDIATRIA,MEDICO SVR,213,157
424,CLINICA DT,PEDIATRIA,MEDICO TDC,249,149
425,CLINICA DT,PEDIATRIA,MEDICO VDS,266,85
426,NaN,NaN,NaN,30957,10764

In [162]:
espera_clean = espera_clean.rename(columns = {
    'Médico': 'Profissional',
    'QTDE USUARIOS.25': 'Usuários',
    'QTDE PCTE > 30.25': 'Espera > 30'
    })
espera_clean

        Unidade   Especialidade Profissional  Usuários  Espera > 30
0         Total             NaN          NaN     19680         6626
1    CLINICA JA           Total          NaN      4377         1604
2    CLINICA JA  CLINICA MÉDICA          NaN      1351           78
3    CLINICA JA  CLINICA MÉDICA          NaN        25            0
4    CLINICA JA  CLINICA MÉDICA   MEDICO AKM         4            2
..          ...             ...          ...       ...          ...
422  CLINICA DT       PEDIATRIA   MEDICO SMM         1            0
423  CLINICA DT       PEDIATRIA   MEDICO SVR       213          157
424  CLINICA DT       PEDIATRIA   MEDICO TDC       249          149
425  CLINICA DT       PEDIATRIA   MEDICO VDS       266           85
426         NaN             NaN          NaN     30957        10764

[427 rows x 5 columns]

In [163]:
espera_clean = espera_clean.dropna()
espera_clean.isnull().sum()

Unidade          0
Especialidade    0
Profissional     0
Usuários         0
Espera > 30      0
dtype: int64

In [168]:
espera_clean.loc[(espera_clean['Especialidade'] == 'ORTOPEDIA E TRAUMATOLOGIA') & (espera_clean['Profissional'] == 'MEDICO AFL'), 'Profissional'] = 'MEDICO AFLJ'

In [170]:
espera_clean[espera_clean.duplicated(subset=['Unidade','Profissional'], keep=False)].sort_values(by = 'Profissional')

,Unidade,Especialidade,Profissional,Usuários,Espera > 30
328,CLINICA DT,GINECOLOGIA CLÍNICA,MEDICO ACD,1,1
411,CLINICA DT,PEDIATRIA,MEDICO ACD,451,382
297,CLINICA DT,CLÍNICA MÉDICA,MEDICO AFL,463,27
412,CLINICA DT,PEDIATRIA,MEDICO AFL,2,0
4,CLINICA JA,CLINICA MÉDICA,MEDICO AKM,4,2
...,...,...,...,...,...
425,CLINICA DT,PEDIATRIA,MEDICO VDS,266,85
324,CLINICA DT,DERMATOLOGIA CLÍNICA E CIRÚRGICA,MEDICO WFA,106,1
323,CLINICA DT,DERMATOLOGIA CLÍNICA E CIRÚRGICA,MEDICO WFA,15,0
246,CLINICA SL,NEUROLOGIA,MEDICO WJS,45,32
234,CLINICA SL,NEUROCIRURGIA,MEDICO WJS,34,26

In [171]:
espera_clean.groupby(['Unidade', 'Profissional'], as_index =False).sum()

,Unidade,Profissional,Especialidade,Usuários,Espera > 30
0,CLINICA DT,MEDICO AAV,GINECOLOGIA CLÍNICA,114,32
1,CLINICA DT,MEDICO ACD,GINECOLOGIA CLÍNICAPEDIATRIA,452,383
2,CLINICA DT,MEDICO ADC,GINECOLOGIA CLÍNICA,91,69
3,CLINICA DT,MEDICO AFL,CLÍNICA MÉDICAPEDIATRIA,465,27
4,CLINICA DT,MEDICO AFLJ,ORTOPEDIA E TRAUMATOLOGIA,63,18
...,...,...,...,...,...
161,CLINICA SL,MEDICO TDO,CLINICA MEDICAGINECOLOGIA,183,14
162,CLINICA SL,MEDICO TMP,CLINICA MEDICA,221,58
163,CLINICA SL,MEDICO TTS,CLINICA MEDICANEUROCIRURGIANEUROLOGIAORTOPEDIA,119,19
164,CLINICA SL,MEDICO WAS,ORTOPEDIA,37,17
165,CLINICA SL,MEDICO WJS,NEUROCIRURGIANEUROLOGIA,79,58

In [172]:
espera_sem_dupli = espera_clean.groupby(['Unidade', 'Profissional'], as_index =False).sum()

In [173]:
espera_sem_dupli[espera_sem_dupli.duplicated(subset=['Unidade','Profissional'], keep=False)].sort_values(by = 'Profissional')

Empty DataFrame
Columns: [Unidade, Profissional, Especialidade, Usuários, Espera > 30]
Index: []

In [174]:
espera_clean = espera_sem_dupli.drop(columns = ['Especialidade']).reset_index(drop = True)
espera_clean

        Unidade Profissional  Usuários  Espera > 30
0    CLINICA DT   MEDICO AAV       114           32
1    CLINICA DT   MEDICO ACD       452          383
2    CLINICA DT   MEDICO ADC        91           69
3    CLINICA DT   MEDICO AFL       465           27
4    CLINICA DT  MEDICO AFLJ        63           18
..          ...          ...       ...          ...
161  CLINICA SL   MEDICO TDO       183           14
162  CLINICA SL   MEDICO TMP       221           58
163  CLINICA SL   MEDICO TTS       119           19
164  CLINICA SL   MEDICO WAS        37           17
165  CLINICA SL   MEDICO WJS        79           58

[166 rows x 4 columns]

In [175]:
df_merge = pd.merge(faltas_clean, prod_clean, on =['Unidade', 'Profissional', 'Especialidade'], how= 'outer')
df_merge = pd.merge(df_merge, espera_clean, on= ['Unidade', 'Profissional'], how = 'outer')
df_merge

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas,Atendimento Produtividade,Quantidade Horas Produtividade,Usuários,Espera > 30
0,CLINICA DT,ANGIOLOGIA/CIRUR VASCULAR,MEDICO NJV,42.0,0.0,19.0,0.0,61.0,42.0,4.250000,43.0,25.0
1,CLINICA DT,CARDIOLOGIA,MEDICO AGH,57.0,0.0,19.0,0.0,76.0,57.0,9.392500,57.0,9.0
2,CLINICA DT,CARDIOLOGIA,MEDICO BGA,76.0,11.0,42.0,0.0,129.0,76.0,8.108333,79.0,2.0
3,CLINICA DT,CARDIOLOGIA,MEDICO FER,71.0,0.0,25.0,0.0,97.0,71.0,9.903611,71.0,13.0
4,CLINICA DT,CARDIOLOGIA,MEDICO FFD,31.0,0.0,17.0,0.0,65.0,22.0,1.809167,31.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
173,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO MMB,325.0,0.0,211.0,0.0,544.0,325.0,61.434167,291.0,0.0
174,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO WAS,41.0,0.0,26.0,0.0,67.0,41.0,10.063889,37.0,17.0
175,CLINICA JA,NaN,MEDICO DAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
176,CLINICA LV,NaN,MEDICO MCM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
177,CLINICA SL,NaN,MEDICO JPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0

In [176]:
df_merge.dropna(subset = ['Especialidade'], inplace = True)
df_merge

,Unidade,Especialidade,Profissional,Consultas Efetivadas,Faltas Médicas,Faltas Paciente,Remarcações Médicas,Total de Consultas,Atendimento Produtividade,Quantidade Horas Produtividade,Usuários,Espera > 30
0,CLINICA DT,ANGIOLOGIA/CIRUR VASCULAR,MEDICO NJV,42.0,0.0,19.0,0.0,61.0,42.0,4.250000,43.0,25.0
1,CLINICA DT,CARDIOLOGIA,MEDICO AGH,57.0,0.0,19.0,0.0,76.0,57.0,9.392500,57.0,9.0
2,CLINICA DT,CARDIOLOGIA,MEDICO BGA,76.0,11.0,42.0,0.0,129.0,76.0,8.108333,79.0,2.0
3,CLINICA DT,CARDIOLOGIA,MEDICO FER,71.0,0.0,25.0,0.0,97.0,71.0,9.903611,71.0,13.0
4,CLINICA DT,CARDIOLOGIA,MEDICO FFD,31.0,0.0,17.0,0.0,65.0,22.0,1.809167,31.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO FCC,157.0,1.0,101.0,45.0,307.0,157.0,25.308056,145.0,62.0
171,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO JGS,529.0,102.0,331.0,49.0,1018.0,529.0,106.409444,492.0,8.0
172,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO JHC,529.0,0.0,291.0,27.0,860.0,529.0,86.376389,476.0,61.0
173,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO MMB,325.0,0.0,211.0,0.0,544.0,325.0,61.434167,291.0,0.0
174,CLINICA SL,ORTOPEDIA E TRAUMATOLOGIA,MEDICO WAS,41.0,0.0,26.0,0.0,67.0,41.0,10.063889,37.0,17.0

In [179]:
df_merge = df_merge.fillna(0).reset_index(drop = True)

In [180]:
df_merge.to_excel('df_anon.xlsx', index = False)